{{extend 'layout.html'}}
{{for bootable in bootables:}}
	<div>
        {{include 'subviews/boot.html'}}
        <div>
            <a href="{{=URL('boot', 'edit', args=bootable.id)}}">Edit bootable</a>
            <a href="{{=URL('boot', 'edit_pledges', args=bootable.id)}}">Edit pledges</a>
            {{if bootable.status == "Not Available to Public":}}
                <a href="{{=URL('boot', 'progress', args=bootable.id)}}">Open to pledges</a>
            {{elif bootable.status == "Open for pledges!":}}
                <a href="{{=URL('boot', 'progress', args=bootable.id)}}">Close bootable</a>
            {{pass}}
            <a href="{{=URL('boot', 'delete', args=bootable.id)}}">Delete bootable</a>
        </div>
    </div>
{{pass}}
{{if len(bootables) == 0:}}
	<div>
		Sorry, there doesn't appear to be anything here yet :( Why not
		<a href="{{=URL('boot', 'new')}}">Create a bootable!</a>
	</div>
{{pass}}
