{{extend 'layout.html'}}
{{for bootable in bootables:}}
    <div>
        <H3>{{=bootable.title}}</H3>
        <H4>{{=bootable.owner}}</H4>
        <span>{{=('@' + bootable.category)}}</span>
        <span>{{=bootable.intro}}</span>
        <span>£{{=bootable.total if bootable.total is not None else 0}} out of £{{=bootable.goal}}</span>
	    <b>{{=bootable.status}}</b>
	    <a href="{{=URL('boot', 'edit', args=bootable.id)}}">Edit bootable</a>
        <a href="{{=URL('boot', 'edit_pledges', args=bootable.id)}}">Edit pledges</a>
	    {{if bootable.status == "Not Available to Public":}}
            <a href="{{=URL('boot', 'progress', args=bootable.id)}}">Open to pledges</a>
        {{elif bootable.status == "Open for pledges!":}}
            <a href="{{=URL('boot', 'progress', args=bootable.id)}}">Close bootable</a>
	    {{pass}}
        <a href="{{=URL('boot', 'delete', args=bootable.id)}}">Delete bootable</a>
    </div>
{{pass}}
{{if len(bootables) == 0:}}
	<div>
		Sorry, there doesn't appear to be anything here yet :( Why not
		<a href="{{=URL('boot', 'new')}}">Create a bootable!</a>
	</div>
{{pass}}
