/* True beauty isn't based on looks alone */
/* Created by Y8186314 */
body {
    width: 100%;
    display: block;
}

header {
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
    border-bottom: 1px solid darkgrey;
}

#home {
    float:left;
    width: 20%;
}

#user_controls {
    float: right;
    width: 35%;
    margin: 1.625em 0;
}

.user_control {
    margin: 5px;
}

#login_username, #login_password {
    width: 30%;
}

#search {
    display: inline-block;
    width: 45%;
    margin: 1.625em 0;
}

#search_box {
    width: 70%
}

#message_box {
    margin-top: 1em;
    text-align: center;
}

#main{
    clear: both;
    width: 60%;
    margin: 0 auto;
}

/* Make all the things that act like buttons, look like buttons! */
a.button, a.button:visited {
    border: 2px outset buttonface;
    padding: 1px 6px;

    font-size: 10pt;
    font: -webkit-small-control;
    color: buttontext;
    text-decoration: none;

    -webkit-appearance: push-button;
    cursor: default;
    margin: 5px;
}

textarea {
    resize: none;
}

footer {
    border-top: 1px solid darkgrey;
    padding-top: 0.5em;
    width: 70%;
    margin: 1em auto 0 auto;
    text-align: center;
    clear: both;
}
