/* True beauty isn't based on looks alone */
body {
    width: 100%;
    display: block;
}

header {
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
}

#home {
    float:left;
    width: 20%;
}

#user_controls {
    float: right;
    width: 35%;
    margin: 1.75em 0;
}

#search {
    display: inline-block;
    width: 45%;
    margin: 1.75em 0;
}

#search_box {
    width: 70%
}

#message_box {
    text-align: center;
}

#main{
    clear: both;
    width: 60%;
    margin: 0 auto;
}

/* Make all the things that act like buttons, look like buttons! */
a.button, a.button:visited {
    border: 2px outset buttonface;
    padding: 1px 6px;

    font-size: 10pt;
    font: -webkit-small-control;
    color: buttontext;
    text-decoration: none;

    -webkit-appearance: push-button;
    cursor: default;
}

textarea {
    resize: none;
}
